{%- block setono_easyadmin_editorjs_row -%}
    {% set row_attr = row_attr|merge({
        class: row_attr.class|default('') ~ ' form-group'
    }) %}

    <div class="{{ form.vars.ea_crud_form.ea_field.columns ?? form.vars.ea_crud_form.ea_field.defaultColumns ?? '' }}">
        <div {% with { attr: row_attr } %}{{ block('attributes') }}{% endwith %}>
            {# TODO: Allow upload of images #}
            {#<div id="{{ form.vars.id }}-editor" class="field-editorjs" data-source="{{ form.vars.id }}" data-image-by-file="{{ path('app_admin_editorjs_image_by_file') }}"></div>#}
            <div id="{{ form.vars.id }}-editor" class="field-editorjs" data-source="{{ form.vars.id }}"></div>

            {{ form_widget(form) }}

            {{- form_errors(form) -}}
        </div>
    </div>

    {# if a field doesn't define its columns explicitly, insert a fill element to make the field take the entire row space #}
    {% if form.vars.ea_crud_form.ea_field.columns|default(null) is null %}
        <div class="flex-fill"></div>
    {% endif %}
{%- endblock -%}
